table {
    height: 90px;
    width: 800px;
  }
th,
td {
  text-align: center;
  border: 4px solid #007EA7;
  height: 60px;
}

br {
    display: block;
    line-height:20px;
}

h1 {
    color: #78FFD6;
}
